@{ 
    Layout = "_SpecficLayout";
}
<title>@ViewBag.title</title>
<h2>Products Page</h2>
<a href="/Home/Index">Home Page</a>
<a href="/Home/Privacy">Privacy Page</a>
<a href="Details">Product Details Page</a>

<a asp-controller="Home" asp-action="Index">Home Page</a>