@{
    ViewData["Title"] = "My Page";
}
<style>
    h1{ 

        font-size: 2.5rem;
        color: red;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    alert("Hello World");
</script>